{% set footer = site.data['footer.json'].footer %}

<footer class="footer">
  <div class="footer-content">
    <div class="footer-content--block">
      {% for footerNav in footer %}
      <div class="footer-content--col">
        {% include '@templates/partials/footer-nav.html' with {footerNav} %}
      </div>
      {% endfor %}
    </div>

    <div class="footer-content--block">
      <div class="footer-content--attribution">
        <div class="footer-logo">

        </div>
        <p>Ntinda KLA +256703994090</p>
        <p>©{{ "now"|date("Y") }}. Defining Technologies, Ltd.</p>
      </div>
    </div>
  </div>
</footer>